{% extends 'base.html.twig' %}

{% block title %}ToDo list{% endblock %}

{% block body %}
    <h1>ToDo list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Done</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notice in notices %}

            <tr>
                <td>{{ notice.id }}</td>
                <td>{{ notice.Title }}</td>
                <td>{{ notice.Description }}</td>
                <td>{{ notice.Deadline ? notice.Deadline|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ notice.Done ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('notice_show', {'id': notice.id}) }}" >Show</a>
                    <a href="{{ path('notice_edit', {'id': notice.id}) }}" style="margin-left: 20px">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('notice_new') }}">Create new</a>
{% endblock %}
