{% extends 'base.html.twig' %}

{% block title %}New Notification{% endblock %}

{% block body %}
    {% dump(notices) %}
    <table>
        {% for notice in notices %}
            <tr>
                <td>{{ notice.id }}</td>
                <td>{{ notice.Title }}</td>
                <td>{{ notice.Description }}</td>
                <td>{{ notice.Deadline ? notice.Deadline|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ notice.Done }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
